<!DOCTYPE html>
<html lang="en">

<head>
    <title>Automotores</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/automotores.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="/img/mecanica.png">
</head>

<body>
    <div class="container register" id="app">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="img/mecanica.png" alt="" />
                <h3>Bienvenid@</h3>
                <p>Registra tu automotor y crea su hoja de vida.</p>
                <a href="./index.html" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Salir</a>
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Hoja de vida del automotor</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h6>Nombre del dueño:</h6>
                                    <input type="text" class="form-control" placeholder="Nombre del dueño *"
                                        v-model="name" />
                                </div>
                                <!-- <div class="form-group">
                                    <h6>Identificacion del dueño o NIT empresa:</h6>
                                    <input type="number" class="form-control"
                                        placeholder="Identificacion del dueño o NIT empresa*" v-model="id" />
                                </div> -->
                                <div class="form-group">
                                    <h6>Identificacion del dueño o NIT empresa: </h6>
                                    <div class="container my-3 p-0 ">
                                      <button @click.prevent="showID" class="btn btn-outline-primary mr-2 mb-2">Numero Identificacion</button>
                                      <button @click.prevent="showNIT" class="btn btn-outline-primary  mb-2">NIT</button>
                                    </div>
                                    <input v-if="is.id" v-model="id" type="text" class="form-control"
                                      placeholder="Identificacion del dueño *" pattern="^((\d{8})|(\d{10})|(\d{11})|(\d{6}-\d{5}))?$"
                                      required />
                                    <input v-if="is.nit" v-model="nit" type="text" class="form-control" placeholder="NIT empresa*"
                                      pattern="(^[0-9]+-{1}[0-9]{1})" required />
                                  </div>
                                <div class="form-group">
                                    <h6>Fecha de ingreso del vehiculo:</h6>
                                    <input type="date" class="form-control"
                                        placeholder="Fecha de ingreso del vehículo *" v-model="dateOfAdmission" />
                                </div>
                                <div class="form-group">
                                    <h6>Falla detallada del vehiculo:</h6>
                                    <input type="text" class="form-control" placeholder="Falla detallada del vehiculo *"
                                        v-model="failure" />
                                </div>
                                <div class="form-group">
                                    <div class="maxl">
                                        <h6>Uso de repuestos:</h6>
                                        <label class="radio inline mr-2">
                                            <input type="radio" name="gender" value="ok" v-model="spareParts" >
                                            <span> Si </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="no" v-model="spareParts">
                                            <span> No </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h6>Fecha de entrega del vehiculo:</h6>
                                    <input type="date" class="form-control"
                                        placeholder="Fecha de entrega del vehículo *" v-model="deadLine" />
                                </div>
                                <div class="form-group">
                                    <h6>Nombre del mecanico:</h6>
                                    <select class="form-control" v-model="inCharge">
                                        <option class="hidden" selected disabled>Selecciona el nombre del mecanico
                                        </option>
                                        <option>Sebastian Gamez</option>
                                        <option>Juan Camilo Paredes</option>
                                        <option>Jasser Leney Blanco</option>
                                    </select>
                                </div>
                                <input type="submit" class="btnRegister" value="Registrar" @click="registerResume" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


    </div>
    <!-- CDN de Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/registroAutomotor.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

<script src="./garantia.js"></script>

</html>