<!DOCTYPE html>
<html lang="en">

<head>
    <!--Meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Styles-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Styles (CSS)-->
    <link rel="stylesheet" href="css/factura.css">
    <!--Title-->
    <title>Factura</title>
</head>

<body>
    <!--Main-->
    <main class="body-main" id="factura">
        <!--Header-->
        <header class="main-header">
            <!--Logo-->
            <div class="header-image--container">
                <a class="image-ref" href="">
                    <span class="ref-image--header">FACTURA ELECTRÓNICA</span>
                </a>
            </div>
            <!--Menu-->
            <ul class="header-list">
                <li class="list-item--header">
                    <a href="automotores.html" class="item-ref--header">Automotores</a>
                </li>

                <li class="list-item--header">
                    <a href="garantias.html" class="item-ref--header">Garantía</a>
                </li>
                <li class="list-item--header">
                    <a href="ventas.html" class="item-ref--header">Ventas</a>
                </li>
                <li class="list-item--header">
                    <a href="index.html" class="item-ref--header">Inicio</a>
                </li>
            </ul>
        </header>

        <!--Section-->
        <section class="container-md main-bill col-md-12">
            <!--Bill basic info-->
            <div class="bill-info">
                <h3 class="mt-3">Información básica</h3>
                <!--Name-->
                <div class="info-item">
                    <small>
                        <h2 class="item-label">Nombre: </h2>
                    </small>
                    <h2 class="item-value">{{data.name}}</h2>
                </div>
                <!--Identification-->
                <div class="info-item">
                    <small>
                        <h2 class="item-label">Identificación: </h2>
                    </small>
                    <h2 class="item-value">{{data.id||data.NIT}}</h2>
                </div>
                <!--Dates-->
                <div class="info-item" v-if="data.dateOfAdmission">
                    <small>
                        <h2 class="item-label">Fecha de ingreso: </h2>
                    </small>
                    <h2 class="item-value">{{data.dateOfAdmission}}</h2>
                </div>
                <div class="info-item" v-if="data.deadLine">
                    <small>
                        <h2 class="item-label">Fecha de entrega: </h2>
                    </small>
                    <h2 class="item-value">{{data.deadLine}}</h2>
                </div>
                <!--Vehicle problem-->
                <div class="info-item" v-if="data.failure">
                    <small>
                        <h2 class="item-label">Descripción del problema: </h2>
                    </small>
                    <h2 class="item-value">{{data.failure}}</h2>
                </div>
                <!--Technic name-->
                <div class="info-item" v-if="data.inCharge">
                    <small>
                        <h2 class="item-label">Técnico Responsable: </h2>
                    </small>
                    <h2 class="item-value">{{data.inCharge}}</h2>
                </div>
            </div>
            <!--Bill prices-->
            <div class="bill-prices">
                <h3 class="mt-3">Repuestos:</h3>
                <!--Parts example-->
                <!-- <div class="prices-replacement" v-for="part in data.vehicleParts">
                    <small><h2 class="replacement-label">{{part.name}}</h2></small>
                    <h2 class="replacement-value">${{part.price}}</h2>
                </div> -->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Costo Unitario</th>
                            <th scope="col">Costo Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="part in data.vehicleParts">
                            <th>{{part.amount}}</th>
                            <td>{{part.name}}</td>
                            <td>${{addFormat(part.price)}}</td>
                            <td>${{addFormat(part.totalPrice)}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!--Bill IVA-->
            <div class="bill-iva">
                <h3 class="mt-3">Impuestos</h3>
                <div class="iva-total">
                    <small>
                        <h2 class="total-label--iva">Iva: {{getIva}} %</h2>
                    </small>
                    <h2 class="total-value--iva">Iva($): {{addFormat(getTotal*getIva/100)}}</h2>
                </div>
            </div>

            <!--Bill total-->
            <div class="bill-total">
                <div class="total-iva">
                    <small>
                        <h2 class="total-label mt-3">Total</h2>
                    </small>
                    <h2 class="total-value">$ {{addFormat(getTotal*(1+getIva/100))}}</h2>
                </div>
            </div>

        </section>

    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/factura.js"></script>
    <!-- <script src="./js/facturacion.js"></script> -->
</body>

</html>