<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrega vehiculo</title>
    <link href="/css/ja.css" rel="stylesheet">
</head>
<body>

    <div id="app">
      <div class="contenedor">
        <form>
          <input type="checkbox" id="checkbox1" v-model="checkbox1">
          <label for="checkbox1">Se le hizo el mantenimiento</label><br>
        
          <input type="checkbox" id="checkbox2" v-model="checkbox2">
          <label for="checkbox2">Se le hizo las revisiones necesarias</label><br>
        
          <input type="checkbox" id="checkbox3" v-model="checkbox3">
          <label for="checkbox3">Está listo para la entrega</label><br>
        
          <input type="date" id="dateInput" v-model="dateInput" class="dates">
        <br>
          <button type="button" @click="submitForm">Enviar datos</button>
        </form>
      </div>
    </div>
     
    
    
      
    
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="./js/index.js"></script>
</html>