<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejercicio martket</title>
</head>

<body>

  <div id="app">
    <h1>Formulario</h1>
    <form @submit.prevent="addReplacement">
      <input v-model.number="ID" type="text" placeholder="Numero Cedula"
        pattern="^((\d{8})|(\d{10})|(\d{11})|(\d{6}-\d{5}))?$" required>
      <label>Seleciona el Repuesto</label>
      <select v-model="selected">
        <option value="aceite">Aceite</option>
        <option value="empaque">Empaque</option>
        <option value="llanta">Llanta</option>
        <option value="bateria">Bateria</option>
        <option value="discos frenos">Disco frenos</option>
      </select>
      <input v-model="amount" type="number" placeholder="Cantidad">
      <label for="">Fecha Venta</label>
      <input v-model="date" type="date" name="" id="">
      <input type="submit" value="Agregar Repuesto">
    </form>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="js/main.js"></script>
</body>

</html>